/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 16, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 22, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 25, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../sass/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 34, ../sass/_reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 38, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'base';
  src: url("../fonts/base.eot?1o50p");
  src: url("../fonts/base.eot?#iefix1o50p") format("embedded-opentype"), url("../fonts/base.woff?1o50p") format("woff"), url("../fonts/base.ttf?1o50p") format("truetype"), url("../fonts/base.svg?1o50p#base") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/_icons.scss */
[class^="icon-"],
[class*=" icon-"],
a.service-links-twitter,
a.service-links-facebook,
a.service-links-google-plus {
  font-family: 'base';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 29, ../sass/_icons.scss */
[class^="icon-"] img,
[class*=" icon-"] img,
a.service-links-twitter img,
a.service-links-facebook img,
a.service-links-google-plus img {
  display: none;
}

/* line 34, ../sass/_icons.scss */
.icon-facebook:before {
  content: "\e900";
}

/* line 37, ../sass/_icons.scss */
.icon-soundcloud:before {
  content: "\e901";
}

/* line 40, ../sass/_icons.scss */
.icon-vine:before {
  content: "\e902";
}

/* line 43, ../sass/_icons.scss */
.icon-yelp:before {
  content: "\e903";
}

/* line 46, ../sass/_icons.scss */
.icon-flickr:before {
  content: "\e904";
}

/* line 49, ../sass/_icons.scss */
.icon-google:before {
  content: "\e905";
}

/* line 52, ../sass/_icons.scss */
.icon-instagram:before {
  content: "\e906";
}

/* line 55, ../sass/_icons.scss */
.icon-linkedin:before {
  content: "\e907";
}

/* line 58, ../sass/_icons.scss */
.icon-pinterest:before {
  content: "\e908";
}

/* line 61, ../sass/_icons.scss */
.icon-stumbleupon:before {
  content: "\e909";
}

/* line 64, ../sass/_icons.scss */
.icon-tumblr:before {
  content: "\e90a";
}

/* line 67, ../sass/_icons.scss */
.icon-twitter:before {
  content: "\e90b";
}

/* line 70, ../sass/_icons.scss */
.icon-vimeo:before {
  content: "\e90c";
}

/* line 73, ../sass/_icons.scss */
.icon-youtube:before {
  content: "\e90d";
}

/* line 76, ../sass/_icons.scss */
.icon-angle-double-left:before {
  content: "\f100";
}

/* line 79, ../sass/_icons.scss */
.icon-angle-double-right:before {
  content: "\f101";
}

/* line 82, ../sass/_icons.scss */
.icon-angle-double-up:before {
  content: "\f102";
}

/* line 85, ../sass/_icons.scss */
.icon-angle-double-down:before {
  content: "\f103";
}

/* line 88, ../sass/_icons.scss */
.icon-angle-left:before {
  content: "\f104";
}

/* line 91, ../sass/_icons.scss */
.icon-angle-right:before {
  content: "\f105";
}

/* line 94, ../sass/_icons.scss */
.icon-angle-up:before {
  content: "\f106";
}

/* line 97, ../sass/_icons.scss */
.icon-angle-down:before {
  content: "\f107";
}

/* line 100, ../sass/_icons.scss */
.icon-code:before {
  content: "\f121";
}

/* line 103, ../sass/_icons.scss */
.icon-space-shuttle:before {
  content: "\f197";
}

/* line 106, ../sass/_icons.scss */
.icon-eye:before {
  content: "\e000";
}

/* line 109, ../sass/_icons.scss */
.icon-paper-clip:before {
  content: "\e001";
}

/* line 112, ../sass/_icons.scss */
.icon-mail:before {
  content: "\e002";
}

/* line 115, ../sass/_icons.scss */
.icon-link:before {
  content: "\e005";
}

/* line 118, ../sass/_icons.scss */
.icon-bell:before {
  content: "\e006";
}

/* line 121, ../sass/_icons.scss */
.icon-lock:before {
  content: "\e007";
}

/* line 124, ../sass/_icons.scss */
.icon-unlock:before {
  content: "\e008";
}

/* line 127, ../sass/_icons.scss */
.icon-ribbon:before {
  content: "\e009";
}

/* line 130, ../sass/_icons.scss */
.icon-image:before {
  content: "\e010";
}

/* line 133, ../sass/_icons.scss */
.icon-signal:before {
  content: "\e011";
}

/* line 136, ../sass/_icons.scss */
.icon-clipboard:before {
  content: "\e013";
}

/* line 139, ../sass/_icons.scss */
.icon-clock:before {
  content: "\e014";
}

/* line 142, ../sass/_icons.scss */
.icon-watch:before {
  content: "\e015";
}

/* line 145, ../sass/_icons.scss */
.icon-camera:before {
  content: "\e017";
}

/* line 148, ../sass/_icons.scss */
.icon-video:before {
  content: "\e018";
}

/* line 151, ../sass/_icons.scss */
.icon-monitor:before {
  content: "\e021";
}

/* line 154, ../sass/_icons.scss */
.icon-cog:before {
  content: "\e023";
}

/* line 157, ../sass/_icons.scss */
.icon-heart:before {
  content: "\e024";
}

/* line 160, ../sass/_icons.scss */
.icon-align-justify:before {
  content: "\e026";
}

/* line 163, ../sass/_icons.scss */
.icon-align-left:before {
  content: "\e027";
}

/* line 166, ../sass/_icons.scss */
.icon-align-center:before {
  content: "\e028";
}

/* line 169, ../sass/_icons.scss */
.icon-align-right:before {
  content: "\e029";
}

/* line 172, ../sass/_icons.scss */
.icon-layers:before {
  content: "\e031";
}

/* line 175, ../sass/_icons.scss */
.icon-paper:before {
  content: "\e034";
}

/* line 178, ../sass/_icons.scss */
.icon-paper-stack:before {
  content: "\e035";
}

/* line 181, ../sass/_icons.scss */
.icon-search:before {
  content: "\e036";
}

/* line 184, ../sass/_icons.scss */
.icon-zoom-in:before {
  content: "\e037";
}

/* line 187, ../sass/_icons.scss */
.icon-zoom-out:before {
  content: "\e038";
}

/* line 190, ../sass/_icons.scss */
.icon-reply:before {
  content: "\e039";
}

/* line 193, ../sass/_icons.scss */
.icon-circle-plus:before {
  content: "\e040";
}

/* line 196, ../sass/_icons.scss */
.icon-circle-minus:before {
  content: "\e041";
}

/* line 199, ../sass/_icons.scss */
.icon-circle-check:before {
  content: "\e042";
}

/* line 202, ../sass/_icons.scss */
.icon-circle-cross:before {
  content: "\e043";
}

/* line 205, ../sass/_icons.scss */
.icon-microphone:before {
  content: "\e048";
}

/* line 208, ../sass/_icons.scss */
.icon-skip-back:before {
  content: "\e050";
}

/* line 211, ../sass/_icons.scss */
.icon-rewind:before {
  content: "\e051";
}

/* line 214, ../sass/_icons.scss */
.icon-play:before {
  content: "\e052";
}

/* line 217, ../sass/_icons.scss */
.icon-pause:before {
  content: "\e053";
}

/* line 220, ../sass/_icons.scss */
.icon-stop:before {
  content: "\e054";
}

/* line 223, ../sass/_icons.scss */
.icon-fast-forward:before {
  content: "\e055";
}

/* line 226, ../sass/_icons.scss */
.icon-skip-forward:before {
  content: "\e056";
}

/* line 229, ../sass/_icons.scss */
.icon-repeat:before {
  content: "\e058";
}

/* line 232, ../sass/_icons.scss */
.icon-location:before {
  content: "\e070";
}

/* line 235, ../sass/_icons.scss */
.icon-map:before {
  content: "\e072";
}

/* line 238, ../sass/_icons.scss */
.icon-battery:before {
  content: "\e073";
}

/* line 241, ../sass/_icons.scss */
.icon-head:before {
  content: "\e074";
}

/* line 244, ../sass/_icons.scss */
.icon-speech-bubble:before {
  content: "\e076";
}

/* line 247, ../sass/_icons.scss */
.icon-reload:before {
  content: "\e080";
}

/* line 250, ../sass/_icons.scss */
.icon-share:before {
  content: "\e081";
}

/* line 253, ../sass/_icons.scss */
.icon-tag:before {
  content: "\e085";
}

/* line 256, ../sass/_icons.scss */
.icon-power:before {
  content: "\e086";
}

/* line 259, ../sass/_icons.scss */
.icon-command:before {
  content: "\e087";
}

/* line 262, ../sass/_icons.scss */
.icon-alt:before {
  content: "\e088";
}

/* line 265, ../sass/_icons.scss */
.icon-pie-graph:before {
  content: "\e092";
}

/* line 268, ../sass/_icons.scss */
.icon-star:before {
  content: "\e093";
}

/* line 271, ../sass/_icons.scss */
.icon-arrow-left:before {
  content: "\e094";
}

/* line 274, ../sass/_icons.scss */
.icon-arrow-right:before {
  content: "\e095";
}

/* line 277, ../sass/_icons.scss */
.icon-arrow-up:before {
  content: "\e096";
}

/* line 280, ../sass/_icons.scss */
.icon-arrow-down:before {
  content: "\e097";
}

/* line 283, ../sass/_icons.scss */
.icon-volume:before {
  content: "\e098";
}

/* line 286, ../sass/_icons.scss */
.icon-mute:before {
  content: "\e099";
}

/* line 289, ../sass/_icons.scss */
.icon-bag:before {
  content: "\e106";
}

/* line 292, ../sass/_icons.scss */
.icon-ban:before {
  content: "\e107";
}

/* line 295, ../sass/_icons.scss */
.icon-flag:before {
  content: "\e108";
}

/* line 298, ../sass/_icons.scss */
.icon-trash:before {
  content: "\e109";
}

/* line 301, ../sass/_icons.scss */
.icon-expand:before {
  content: "\e110";
}

/* line 304, ../sass/_icons.scss */
.icon-contract:before {
  content: "\e111";
}

/* line 307, ../sass/_icons.scss */
.icon-maximize:before {
  content: "\e112";
}

/* line 310, ../sass/_icons.scss */
.icon-minimize:before {
  content: "\e113";
}

/* line 313, ../sass/_icons.scss */
.icon-plus:before {
  content: "\e114";
}

/* line 316, ../sass/_icons.scss */
.icon-minus:before {
  content: "\e115";
}

/* line 319, ../sass/_icons.scss */
.icon-check:before {
  content: "\e116";
}

/* line 322, ../sass/_icons.scss */
.icon-cross:before {
  content: "\e117";
}

/* line 325, ../sass/_icons.scss */
.icon-move:before {
  content: "\e118";
}

/* line 328, ../sass/_icons.scss */
.icon-delete:before {
  content: "\e119";
}

/* line 331, ../sass/_icons.scss */
.icon-menu:before {
  content: "\e120";
}

/* line 334, ../sass/_icons.scss */
.icon-file:before {
  content: "\e124";
}

/* line 337, ../sass/_icons.scss */
.icon-open:before {
  content: "\e128";
}

/* line 340, ../sass/_icons.scss */
.icon-ellipsis:before {
  content: "\e129";
}

/* line 347, ../sass/_icons.scss */
.block-btns a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 350, ../sass/_icons.scss */
.block-btns a:hover {
  color: #fff !important;
}
/* line 355, ../sass/_icons.scss */
.block-btns .icon-vimeo:hover {
  background-color: #aad450;
}
/* line 358, ../sass/_icons.scss */
.block-btns .icon-twitter:hover {
  background-color: #00aced;
}
/* line 361, ../sass/_icons.scss */
.block-btns .icon-facebook:hover {
  background-color: #3b5998;
}
/* line 364, ../sass/_icons.scss */
.block-btns .icon-googleplus:hover {
  background-color: #dd4b39;
}
/* line 367, ../sass/_icons.scss */
.block-btns .icon-pinterest:hover {
  background-color: #cb2027;
}
/* line 370, ../sass/_icons.scss */
.block-btns .icon-instagram:hover {
  background-color: #517fa4;
}

@font-face {
  font-family: 'Neuton';
  src: url("../fonts/Neuton-ExtraLight.eot");
  src: url("../fonts/Neuton-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Neuton-ExtraLight.woff") format("woff"), url("../fonts/Neuton-ExtraLight.ttf") format("truetype"), url("../fonts/Neuton-ExtraLight.svg#Neuton-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Neuton';
  src: url("../fonts/Neuton-Bold.eot");
  src: url("../fonts/Neuton-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Neuton-Bold.woff") format("woff"), url("../fonts/Neuton-Bold.ttf") format("truetype"), url("../fonts/Neuton-Bold.svg#Neuton-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Neuton';
  src: url("../fonts/Neuton-Italic.eot");
  src: url("../fonts/Neuton-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Neuton-Italic.woff") format("woff"), url("../fonts/Neuton-Italic.ttf") format("truetype"), url("../fonts/Neuton-Italic.svg#Neuton-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Neuton';
  src: url("../fonts/Neuton-Regular.eot");
  src: url("../fonts/Neuton-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Neuton-Regular.woff") format("woff"), url("../fonts/Neuton-Regular.ttf") format("truetype"), url("../fonts/Neuton-Regular.svg#Neuton-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url("../fonts/HelveticaNeueLTPro-UltLt.eot");
  src: url("../fonts/HelveticaNeueLTPro-UltLt.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTPro-UltLt.woff") format("woff"), url("../fonts/HelveticaNeueLTPro-UltLt.ttf") format("truetype"), url("../fonts/HelveticaNeueLTPro-UltLt.svg#HelveticaNeueLTPro-UltLt") format("svg");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url("../fonts/HelveticaNeueLTPro-Hv.eot");
  src: url("../fonts/HelveticaNeueLTPro-Hv.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTPro-Hv.woff") format("woff"), url("../fonts/HelveticaNeueLTPro-Hv.ttf") format("truetype"), url("../fonts/HelveticaNeueLTPro-Hv.svg#HelveticaNeueLTPro-Hv") format("svg");
  font-weight: 900;
  font-style: normal;
}
/* VARS 
-------------------------------------------------------------- */
/*  COLORS  */
/*  BORDERS  */
/*  TYPOGROPHY */
/*  TRANSITIONS */
/* MIX-INS 
-------------------------------------------------------------- */
/* line 104, ../sass/_vars.scss */
.link-invert {
  color: #fff;
}
/* line 71, ../sass/_vars.scss */
.link-invert:hover {
  color: #6891d1;
}

/* BUTTONS
-------------------------------------------------------------- */
/* line 114, ../sass/_vars.scss */
.btn, .btn-lt, .btn-dk, .cta a {
  display: inline-block;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #D8D8D8;
  color: #303642;
  padding: 10px 15px 5px;
  -moz-box-shadow: 5px 5px 0 0 #f1f1f1;
  -webkit-box-shadow: 5px 5px 0 0 #f1f1f1;
  box-shadow: 5px 5px 0 0 #f1f1f1;
}
/* line 127, ../sass/_vars.scss */
.btn:hover, .btn-lt:hover, .btn-dk:hover, .cta a:hover {
  -moz-box-shadow: 2px 2px 0 0 #f1f1f1;
  -webkit-box-shadow: 2px 2px 0 0 #f1f1f1;
  box-shadow: 2px 2px 0 0 #f1f1f1;
}

/* line 145, ../sass/_vars.scss */
.btn-sm {
  padding: 2px 8px;
  font-size: .6em;
}

/* line 150, ../sass/_vars.scss */
.btn-med {
  padding: 10px 15px;
  font-size: .8em;
}

/* line 155, ../sass/_vars.scss */
.btn-lg {
  padding: 20px 30px;
  font-size: 1em;
}

/* line 160, ../sass/_vars.scss */
.btn-lt {
  background-color: #D8D8D8;
  color: #303642;
}
/* line 139, ../sass/_vars.scss */
.btn-lt:hover {
  background-color: #fff;
  color: #303642;
}

/* line 165, ../sass/_vars.scss */
.btn-dk {
  background-color: #303642;
  color: #fff;
}
/* line 139, ../sass/_vars.scss */
.btn-dk:hover {
  background-color: #6891d1;
  color: #303642;
}

/* PLACEHOLDERS & EXTENDS
-------------------------------------------------------------- */
/* BASIC STYLES
-------------------------------------------------------------- */
/* line 11, ../sass/main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 16, ../sass/main.scss */
* img {
  max-width: 100%;
  height: auto;
}

/* line 23, ../sass/main.scss */
body {
  font: 16px/1.5 "Neuton", serif;
  background-color: #fff;
  color: #303642;
  font-weight: 200;
}

/* line 31, ../sass/main.scss */
a {
  color: #303642;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}
/* line 71, ../sass/_vars.scss */
a:hover {
  color: #6891d1;
}

/* line 38, ../sass/main.scss */
h1, h2, h3 {
  font-family: "Helvetica Neue LT Pro", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 900;
}

/* line 46, ../sass/main.scss */
h1 {
  font-size: 5em;
}

/* HEADER
-------------------------------------------------------------- */
/* line 52, ../sass/main.scss */
#header {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  padding: 40px;
  position: relative;
  overflow: hidden;
}
/* line 60, ../sass/main.scss */
#header .inner {
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 50%;
  margin-top: -220px;
  max-width: 100%;
}
/* line 69, ../sass/main.scss */
#header .pull {
  text-align: center;
  font-size: 120px;
  line-height: 120px;
  margin: 40px auto;
  max-width: 1200px;
}

/* line 78, ../sass/main.scss */
#logo {
  max-width: 150px;
  margin: 0 auto;
}

/* NAV
-------------------------------------------------------------- */
/* line 87, ../sass/main.scss */
#nav-holder {
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;
  width: 350px;
}
/* line 94, ../sass/main.scss */
#nav-holder .divider {
  position: relative;
  right: -230px;
}

/* line 101, ../sass/main.scss */
#nav {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  padding-top: 120px;
  right: -350px;
  height: 100vh;
  width: 350px;
  padding-right: 20px;
  background: url(../images/30kft-pattern-1.jpg) fixed;
}
/* line 116, ../sass/main.scss */
#nav a {
  color: #fff;
  font-size: 30px;
}
/* line 119, ../sass/main.scss */
#nav a:hover {
  color: #6891d1;
}
/* line 125, ../sass/main.scss */
#nav ul a {
  font-weight: 900;
  font-family: "Helvetica Neue LT Pro", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
/* line 131, ../sass/main.scss */
#nav li {
  margin-bottom: 20px;
}
/* line 136, ../sass/main.scss */
#nav .social-icons a {
  margin-left: 20px;
}

/* line 142, ../sass/main.scss */
.cta-header {
  font-family: "Helvetica Neue LT Pro", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 900;
  position: absolute;
  width: 200px;
  top: 20px;
  right: 70px;
  font-size: 16px;
  z-index: 100;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
/* line 156, ../sass/main.scss */
.cta-header a {
  color: #6891d1;
  background-color: #fff;
  display: block;
}
/* line 161, ../sass/main.scss */
.cta-header a:hover {
  color: #fff;
  background-color: #6891d1;
}

/* line 169, ../sass/main.scss */
#menu-toggle {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  z-index: 800;
  top: 20px;
  right: 20px;
  color: #6891d1;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 1.2em;
  cursor: pointer;
  background-color: #f1f1f1;
}
/* line 184, ../sass/main.scss */
#menu-toggle .icon-cross {
  opacity: 0;
}
/* line 188, ../sass/main.scss */
#menu-toggle .icon-menu,
#menu-toggle .icon-cross {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-align: inherit;
  line-height: inherit;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
/* line 200, ../sass/main.scss */
#menu-toggle:hover {
  color: #fff;
  background-color: #6891d1;
}
@media (max-width: 1080px) {
  /* line 169, ../sass/main.scss */
  #menu-toggle {
    display: block;
    top: 10px;
    right: 10px;
  }
}

/* line 215, ../sass/main.scss */
.nav-open #wrap {
  margin-left: -350px;
}
/* line 219, ../sass/main.scss */
.nav-open #nav {
  right: 0;
}
/* line 223, ../sass/main.scss */
.nav-open #menu-toggle {
  color: #fff;
  background-color: #6891d1;
}
/* line 227, ../sass/main.scss */
.nav-open #menu-toggle .icon-cross {
  opacity: 1;
}
/* line 230, ../sass/main.scss */
.nav-open #menu-toggle .icon-menu {
  opacity: 0;
}

/* SECTION
-------------------------------------------------------------- */
/* line 239, ../sass/main.scss */
#wrap {
  -webkit-transition: margin-left 0.3s;
  -moz-transition: margin-left 0.3s;
  -o-transition: margin-left 0.3s;
  transition: margin-left 0.3s;
  max-width: 100%;
}

/* line 244, ../sass/main.scss */
#main {
  -webkit-transition: margin-left 0.3s;
  -moz-transition: margin-left 0.3s;
  -o-transition: margin-left 0.3s;
  transition: margin-left 0.3s;
}

/* line 249, ../sass/main.scss */
.divider {
  width: 100px;
  height: 10px;
  background-color: #6891d1;
  margin: 40px 0;
}
/* line 255, ../sass/main.scss */
.divider.center {
  margin: 40px auto;
}

/* line 260, ../sass/main.scss */
section {
  padding: 160px;
}
/* line 264, ../sass/main.scss */
section .inner {
  background-color: #fff;
  padding: 40px;
  max-width: 1080px;
  margin: 0 auto;
}
/* line 275, ../sass/main.scss */
section h1 {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  padding: 20px 20px 10px;
  border: 10px solid #303642;
  margin-bottom: 70px;
}
/* line 285, ../sass/main.scss */
section h2 {
  font-size: 20px;
}
/* line 289, ../sass/main.scss */
section .pull {
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 40px;
  text-transform: uppercase;
}
/* line 296, ../sass/main.scss */
section p {
  text-align: justify;
  max-width: 500px;
  margin-bottom: 20px;
}
/* line 302, ../sass/main.scss */
section .body {
  *zoom: 1;
}
/* line 38, ../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
section .body:after {
  content: "";
  display: table;
  clear: both;
}
/* line 306, ../sass/main.scss */
section .next {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 40px;
  text-align: center;
}
/* line 314, ../sass/main.scss */
section .next h3 {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 14px;
  margin-bottom: 10px;
}
/* line 321, ../sass/main.scss */
section .next .icon-arrow-down {
  font-size: 20px;
}

/* line 329, ../sass/main.scss */
.address {
  margin-bottom: 40px;
}

/* line 333, ../sass/main.scss */
.cta {
  font-family: "Helvetica Neue LT Pro", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 900;
  margin-bottom: 20px;
}
/* line 338, ../sass/main.scss */
.cta a {
  background-color: #6891d1;
  color: #fff;
  margin-left: 5px;
}
/* line 139, ../sass/_vars.scss */
.cta a:hover {
  background-color: #D8D8D8;
  color: #303642;
}

/* line 345, ../sass/main.scss */
.side-left, .side-right {
  float: left;
  width: 50%;
}

/* line 350, ../sass/main.scss */
section.slide {
  color: #fff;
  max-width: 100%;
  width: 100%;
  height: 60vh;
  display: table;
  padding: 40px;
  background: url(../images/30kft-pattern-1.jpg) fixed;
}
/* line 359, ../sass/main.scss */
section.slide .inner {
  display: table-cell;
  vertical-align: middle;
  background-color: transparent;
  border: 10px solid #fff;
}
/* line 366, ../sass/main.scss */
section.slide h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
}
/* line 372, ../sass/main.scss */
section.slide h4 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  letter-spacing: 4px;
  margin-top: -50px;
}
/* line 379, ../sass/main.scss */
section.slide h4:before, section.slide h4:after {
  content: "\2014";
  margin: 0 10px;
}

/* line 389, ../sass/main.scss */
.body li:before {
  content: "\2022";
  margin-right: 20px;
  color: #6891d1;
  font-family: "Helvetica Neue LT Pro", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 900;
}
/* line 398, ../sass/main.scss */
.body ul {
  margin-bottom: 40px;
}

/* line 403, ../sass/main.scss */
.video {
  background-color: #f1f1f1;
  clear: both;
  padding: 40px;
  text-align: center;
  margin-top: 40px;
  margin: 40px -40px -40px;
}
/* line 412, ../sass/main.scss */
.video h2 {
  margin-bottom: 40px;
}

/* SECTIONS
-------------------------------------------------------------- */
/* line 421, ../sass/main.scss */
#about {
  background: url("../images/bg/people-coffee-notes-tea.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 425, ../sass/main.scss */
#benefits {
  background: url("../images/bg/black-and-white-sky-flying-holiday.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 430, ../sass/main.scss */
#benefits li:before {
  content: "\2022";
  margin-right: 20px;
  color: #6891d1;
  font-family: "Helvetica Neue LT Pro", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 900;
}

/* line 440, ../sass/main.scss */
#team {
  background: url("../images/bg/guy-jumping.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 444, ../sass/main.scss */
.member {
  width: 33%;
  float: left;
  text-align: center;
}
/* line 449, ../sass/main.scss */
.member h3 {
  color: #6891d1;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
}
/* line 456, ../sass/main.scss */
.member .image {
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 200px;
  overflow: hidden;
  margin-bottom: 10px;
  cursor: pointer;
  width: 150px;
  border: #303642 solid 10px;
  margin: 0 auto 20px;
}
/* line 465, ../sass/main.scss */
.member .image img {
  width: 100%;
  height: auto;
}
/* line 471, ../sass/main.scss */
.member .info {
  padding: 0 20px;
  text-align: justify;
}

/* line 477, ../sass/main.scss */
.team {
  *zoom: 1;
}
/* line 38, ../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.team:after {
  content: "";
  display: table;
  clear: both;
}

/* line 481, ../sass/main.scss */
.consultants {
  *zoom: 1;
  clear: both;
  padding-bottom: 40px;
}
/* line 482, ../sass/main.scss */
.consultants h2.title {
  margin-bottom: 20px;
}
/* line 38, ../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.consultants:after {
  content: "";
  display: table;
  clear: both;
}

/* line 491, ../sass/main.scss */
.member.founder {
  *zoom: 1;
  width: 700px;
  float: none;
  margin: 0 auto;
}
/* line 38, ../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.member.founder:after {
  content: "";
  display: table;
  clear: both;
}
/* line 497, ../sass/main.scss */
.member.founder h2 {
  font-size: 30px;
}
/* line 501, ../sass/main.scss */
.member.founder .divider {
  margin: 40px auto;
}
/* line 505, ../sass/main.scss */
.member.founder .image {
  width: 200px;
}
/* line 509, ../sass/main.scss */
.member.founder .info {
  text-align: center;
}

/* line 514, ../sass/main.scss */
.advisors {
  background-color: #f1f1f1;
  clear: both;
  padding: 40px;
  text-align: center;
  margin-top: 40px;
  margin: 40px -40px 0;
}
/* line 522, ../sass/main.scss */
.advisors h2.title {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-bottom: 40px;
  text-transform: uppercase;
  padding: 15px 40px 10px;
  border: #303642 solid 10px;
}
/* line 530, ../sass/main.scss */
.advisors .member {
  float: none;
  width: 100%;
  margin-bottom: 40px;
}

/* line 537, ../sass/main.scss */
#services {
  background: url("../images/bg/people-coffee-tea-meeting2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 539, ../sass/main.scss */
#services li {
  font-size: 20px;
}
/* line 542, ../sass/main.scss */
#services li:before {
  content: none;
}
/* line 547, ../sass/main.scss */
#services h2.big {
  font-size: 30px;
}

/* line 552, ../sass/main.scss */
.rate {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 100px;
  font-family: "Helvetica Neue LT Pro", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 900;
  color: #6891d1;
}

/* line 560, ../sass/main.scss */
#contact {
  background: url("../images/bg/notebook-hero-workspace-minimal.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 563, ../sass/main.scss */
#contact .social-icons {
  margin-bottom: 40px;
}
/* line 566, ../sass/main.scss */
#contact .social-icons a {
  font-size: 30px;
  margin-right: 20px;
}

/* line 573, ../sass/main.scss */
#footer {
  height: auto !important;
}
/* line 576, ../sass/main.scss */
#footer h2 {
  font-size: 14px;
  letter-spacing: 2px;
}

/* line 582, ../sass/main.scss */
.text-center {
  text-align: center;
}
