@import "compass";
@import "_reset";
@import "_icons";
@import "_fonts";
@import "_vars";

//@include edit;

/* BASIC STYLES
-------------------------------------------------------------- */
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

  img{
    max-width: 100%;
    height: auto;
    
  }
}

body{
  //@include bg_cover("../images/30kft-clouds-full.jpg");
  font: 16px/1.5 $font_main;
  background-color: $color_bg;  
  color: $color_text;
  font-weight: 200;
}

a{
  @include link_color;
  @include trans;

  text-decoration: none;
}

h1, h2, h3{
	font-family: $font_header;
  font-weight: 900;
	a{

	}
}

h1{
	font-size: 5em;
}

/* HEADER
-------------------------------------------------------------- */
#header{
  width: 100%;
  min-height: 100vh;
  background-color: $color_bg;
  padding: $section_pad;
  position: relative;
  overflow: hidden;
  z-index: 1;
  
  .inner{
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 50%;
    margin-top: -220px;
    max-width: 100%;
    z-index: 1;

    @include bp(s){
      position: relative;
      top: auto;
      margin-top: 0;
      padding: 0;
    }
  }

  .pull{
    text-align: center;
    font-size: 120px;
    line-height: 120px;
    margin: 40px auto;
    max-width: 1200px;

    @include bp(m){
      font-size: 80px;
      line-height: 80px;
    }

    @include bp(s){
      font-size: 40px;
      line-height: 40px;
    }
  }
}

#logo{
  max-width: 150px;
  margin: 0 auto;

  @include bp(s){
    max-width: 80px;
    margin-top: 40px;
  }
}



/* NAV
-------------------------------------------------------------- */
#nav-holder{
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;
  width: $nav_w;
  z-index: 3000;

  .divider{
    position: relative;
    right: 100-$nav_w+20;
  }

}

#nav{
  @include trans;
  position: absolute;
  z-index: 1000;
  top: 0;
  padding-top: $body_pad + $header_h*2;
  right: -$nav_w;
  height: 100vh;
  width: $nav_w;
  padding-right: $body_pad;
  background: url(../images/30kft-pattern-1.jpg) fixed;
  // background: -moz-linear-gradient(left,  rgba(48,54,66,0) 0%, rgba(0,0,0,0.65) 100%);
  // background: -webkit-linear-gradient(left,  rgba(48,54,66,0) 0%,rgba(0,0,0,0.65) 100%);
  // background: linear-gradient(to right,  rgba(48,54,66,0) 0%,rgba(0,0,0,0.65) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00303642', endColorstr='#a6000000',GradientType=1 );
  
  @include bp(s){
    padding-top: 80px;
  }

  a{
    color: $color_bg;
      font-size: 30px;
      &:hover{
        color: $color_accent;
      }

      @include bp(s){
        font-size: 20px;
      }
  }

  ul{
    a{
      font-weight: 900;
      font-family: $font_header;
    }
  }

  li{
    margin-bottom: $body_pad;

    @include bp(s){
      margin-bottom: 10px;
    }
  }

  .social-icons{
    a{
      margin-left: 20px;
    }
  }
}

.cta-header{
  @include trans;
  font-family: $font_header;
  font-weight: 900;
  position: absolute;
  width: 200px;
  top: $body_pad;
  right: 70px;
  font-size: 16px;
  z-index: 100;
  height: $header_h;
  line-height: $header_h;
  
  text-align: center;

  a{
    color: $color_accent;
    background-color: #fff;
    display: block;

    &:hover{
      color: #fff;
      background-color: $color_accent;
    }
  }

  @include bp(s){
    top: 10px;
    right: 60px;
  }
}


#menu-toggle{
  @include trans;
  position: absolute;
  z-index: 800;
  top: $body_pad;
  right: $body_pad;
  color: $color_accent;
  width: $header_h;
  height: $header_h;
  line-height: $header_h;
  text-align: center;
  font-size: 1.2em;
  cursor: pointer;
  background-color: #f1f1f1;

  .icon-cross{
    opacity: 0;
  }

  .icon-menu,
  .icon-cross{
    @include trans;
    text-align: inherit;
    line-height: inherit;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  &:hover{
    color: $color_bg;
    background-color: $color_accent;
  }

  @include bp(s){
    display: block;
    top: 10px;
    right: 10px;
  }
}

.nav-open{
  //overflow: hidden;

  #wrap{
    margin-left: -$nav_w;
  }

  #nav{
    right: 0;
  }

  #menu-toggle{
    color: $color_bg;
    background-color: $color_accent;

    .icon-cross{
      opacity: 1;
    }
    .icon-menu{
      opacity: 0;
    }
  }
}


/* SECTION
-------------------------------------------------------------- */
#wrap{
  @include trans(margin-left);
  max-width: 100%;
}

#main{
  @include trans(margin-left);
  //padding: 0 $body_pad*2+$header_h;
}

.divider{
  width: 100px;
  height: $body_pad/2;
  background-color: $color_accent;
  margin: 40px 0;

  &.center{
    margin: 40px auto;
  }
}

section{
  //min-height: 100vh;  
  position: relative;
  z-index: 1;
  padding: $section_pad*4;

  @include bp(m){
    padding: 40px;
  }

  @include bp(s){
    padding: 80px 10px;
  }

  .inner{
    background-color: $color_bg;
    padding: $section_pad;
    max-width: $bp_med;
    margin: 0 auto;

    @include bp(s){
      padding: 10px;
    }
  }

  h1{
    @include inline-block;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    padding: $body_pad $body_pad $body_pad/2;
    border: $body_pad/2 solid $color_text;
    margin-bottom: 70px;

    @include bp(s){
      font-size: 20px;
      line-height: 20px;
    }


  }

  h2{
    font-size: 20px;
  }

  .pull{
    font-size: 60px;
    line-height: 60px;
     margin-bottom: $section_pad;
    text-transform: uppercase;

    @include bp(s){
      font-size: 30px;
      line-height: 30px;
    }
  }

  p{
    text-align: justify;
    max-width: 500px;
    margin-bottom: $body_pad;

    @include bp(s){
      text-align: left;
    }
  }

  .body{
    @include pie-clearfix;
  }

  .next{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 40px;
    text-align: center;

    h3{
      text-transform: uppercase;
      letter-spacing: 10px;
      font-size: 14px;
      margin-bottom: 10px;
    }

    .icon-arrow-down{
      font-size: 20px;
    }
  }
}



.address{
  margin-bottom: 40px;
}

.cta{
  font-family: $font_header;
  font-weight: 900;
  margin-bottom: 20px;

  a{
    @extend .btn;
    @include btn_color;
    margin-left: 5px;
  }
}

.side-left, .side-right{
  float: left;
  width: 50%;

  @include bp(m){
     float: none;
     width: 100%;
     margin-bottom: 80px;
    }
}

section.slide{  
  color: $color_bg;
  max-width: 100%;
  width: 100%;
  height: 60vh;
  display: table;
  padding: $section_pad;
  background: url(../images/30kft-pattern-1.jpg) fixed;

  @include bp(s){
    padding: 10px;
  }

  .inner{
    display: table-cell;
    vertical-align: middle;
    background-color: transparent;
    border: $body_pad/2 solid $color_bg;

    @include bp(s){
     border: 2px solid $color_bg;
    }
  }

  h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;

    @include bp(s){
      font-size: 20px;
    }
  }

  h4{
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 4px;
    margin-top: -50px;

    &:before, &:after{
      content: "\2014";
      margin: 0 10px;
    }
  }
}

.body{
  li{

    &:before{
      content: "\2022";
      margin-right: 20px;
      color: $color_accent;
      font-family: $font_header;
      font-weight: 900;
    }
  }

  ul{
    margin-bottom: 40px;
  }
}

.video{
    background-color: #f1f1f1;
  clear: both;
  padding: 40px;
  text-align: center;
  margin-top: 40px;
  margin: 40px -40px -40px;
  position: relative;
  z-index: 1;

  @include bp(s){
    margin: 40px -20px -20px;
    padding: 10px;
  }
    

    h2{
      margin-bottom: 40px;
    }
  }



/* SECTIONS
-------------------------------------------------------------- */
#about{
  @include bg_cover("../images/bg/people-coffee-notes-tea.jpg");
}

#benefits{
  @include bg_cover("../images/bg/black-and-white-sky-flying-holiday.jpg");

  li{

    &:before{
      content: "\2022";
      margin-right: 20px;
      color: $color_accent;
      font-family: $font_header;
      font-weight: 900;
    }
  }
}

#team{
  @include bg_cover("../images/bg/guy-jumping.jpg");
}

.member{
  width: 33%;
  float: left;
  text-align: center;

  @include bp(m){
      width: 100%;
      float: none; 
      margin-bottom: 40px;

      .info{
        max-width: 400px;
        margin: auto;
      } 
    }

  h3{
    color: $color_accent;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
  }

  .image{
    @include border-radius(200px);
    overflow: hidden;
    margin-bottom: 10px;
    cursor: pointer;
    width: 150px;
    border: $color_text solid 10px;
    margin: 0 auto 20px;

    img{
      width: 100%;
      height: auto;
    }
  }

  .info{
    padding: 0 20px;
    text-align: justify;
  }
}

.team{
  @include pie-clearfix;
}

.consultants{
  display: none;
  h2.title{
    margin-bottom: 20px;
  }

  @include pie-clearfix;
  clear: both;
  padding-bottom: 40px;
}

.member.founder{
  @include pie-clearfix;
  width: 700px;
  float: none;
  margin: 0 auto;

  @include bp(m){
      width: 100%;

      .info{
        max-width: 100%;
      }
    }

  h2{
    font-size: 30px;
  }
  
  .divider{
    margin: 40px auto;
  }

  .image{
    width: 200px;
  }

  .info{
    text-align: center;
  }
}

.advisors{
  background-color: #f1f1f1;
  clear: both;
  padding: 40px;
  text-align: center;
  margin-top: 40px;
  margin: 40px -40px 0;

  @include bp(s){
    margin: 40px -20px -20px;
    padding: 10px;
  }



  h2.title{
    @include inline-block;
    margin-bottom: 40px;
    text-transform: uppercase;
    padding: 15px 40px 10px;
    border: $color_text solid 10px;
  }

  .member{
    float: none;
    width: 100%;
    margin-bottom: 40px;
  }
}

#services{
  @include bg_cover("../images/bg/people-coffee-tea-meeting2.jpg");
  li{
    font-size: 20px;

    &:before{
      content: none;
    }
  }
  
  h2.big{
    font-size: 30px;
  }

  @include bp(s){
    li{
      font-size: 14px;
    }

    h2.big{
      font-size: 20px;
    }
  }
}

.rate{
  @include inline-block;
  width: 100px;
  font-family: $font_header;
  font-weight: 900;
  color: $color_accent;

  @include bp(s){
    width: 50px;
  }
}

#contact{
  @include bg_cover("../images/bg/notebook-hero-workspace-minimal.jpg");

  .social-icons{
    margin-bottom: 40px;

    a{
      font-size: 30px;
      margin-right: 20px;
    }
  }
}

#footer{
  height: auto !important;

  h2{
    font-size: 14px;
    letter-spacing: 2px;
  }
}

.text-center{
  text-align: center;
}



